@media screen and (max-width:1200px){
    .responsive_icon{
        display: inline-block;
    } 
    .main{
        width: 100%;
        margin-left: 0;
    }
    .header{
        padding: 18px 16px 18px 16px;
    }
    section.main-carousels{
        padding: 0;
    } 
    .sidebar {
        transform: translateX(-100%);
        opacity: 0;
    }
    .sidebar.show {
        transform: translateX(0);
        opacity: 1;
        display: flex;
    }
    .aside_burger_desktop{
        display: none;
    }
    .aside_burger{
        display: flex;
    }
}
@media screen and (max-width:768px){
    .header input{
        padding:10px 0px 10px 68px; 
    }
    .header .actions button, select{
        margin-left:0px;
        padding: 10px 10px;
    }
}
@media screen and (max-width:575px){
    .banner div{
        height: 100%;
    }
    .main-carousels .carousel-container{
        height: 283px;
    }
    .header input{
        width: 172px;
        padding: 10px 0px 10px 51px; 
    }
    .header>div span{
        width: 48px;
    }
    .header .actions .cadastro img{
        padding-left: 0px;
    }
    .footer-first{
        flex-wrap: wrap;
    }
         
}
@media screen and (max-width:425px){
    .position-relative.d-inline-block.searchInpCont {
        display: none !important;
    }
    .personal-categories{
        overflow-x:scroll ;
        
    }
    ::-webkit-scrollbar {
        height: 4px
    }
}