* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #132123;
    background: #132123;
    color: #fff;
}

.dashboard {
    display: flex;
}

.sidebar {
    width: 240px;
    background-color: #132123;
    display: flex ;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh !important;
    z-index: 9;
    border-right: 2px solid #f8efef0a;
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.aside_burger_desktop{
    display: flex;
}
.responsive_icon{
    display: none;
    cursor: pointer;
}
.aside_burger{
    display: none;
}
/* .mobile_aside{ 
        width: 100%;
        background-color: #132123;
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 70px !important;
        z-index: 9;
        border-right: 2px solid #f8efef0a; 
} */
.sidebar header {
    padding: 35px 20px 0px 20px;
}

.aside_container {
    overflow-y: scroll;
}

.logo h2 {
    color: #50fa7b;
}

.menu {
    padding: 0px 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    /* margin: 15px 0; */
    padding: 15px 0px;
}

.menu ul li a {
    color: #8be9fd;
    text-decoration: none;
    font-size: 18px;
}

.promo {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2128;
    padding: 10px 20px;
    border-top: 2px solid #f8efef0a;
    height: 72px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #132123;
    width: calc(100% - 240px);
    margin-left: 240px;
}


/* ***************************** header BEGIN ******************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 70px 18px 70px;
    background-color: #13142069;
    width: 100%;
}

.header input {
    padding: 10px 40px 10px 79px;
    color: white;
    border: none;
    border-radius: 5px;
    height: 48px;
    background: transparent;
    outline: none;
}

.header>div span {
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 10px;
    width: 64px;
    height: 48px;
    border-radius: 20px;
    background-color: #3BFB82;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .actions button,
select {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.header .actions select {
    padding-right: 6px !important;
}

.header .actions .cadastro {
    background-color: #3BFB82;
    color: #2C5F67;
    font-weight: 500;
    height: 48px;
    border-radius: 20px;
}

.header .actions .cadastro img {
    padding-left: 9px;
}


/* ***************************** header EEND ******************************/

.hero-content {
    flex-grow: 1;
    background-color: #142021;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.content_inner__cont {
    padding: 20px;
}

.banner {
    height: auto;
    height: 500px;
}

.banner div {
    height: 500px;
}

.banner div img {
    border-radius: 16px;
    height: 100%;
    width: 100%;
}

/* ************************ personal Categories BEGIN ***************************** */
.personal-categories {
    padding: 0 12px;
}

.personal-categories div {
    padding: 24px 16px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-bottom: 2px solid transparent;
}


.personal-categories div.active {
    border-bottom: 2px solid #1BB96B;
    color: #1BB96B;
}

.category-item {
    color: #808792;
}

.category-item img {
    margin-right: 10px;
}

/* ************************ personal Categories END ******************************** */
/* ************************ sidebar BEGIN ************************ */

.promotional {
    margin: 35px 20px 0px 20px;
    /* padding: 20px; */
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promotional ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 20, 32, 0.4);
    border-radius: 20px;
}

.promotional ul li {
    margin: 15px 0;
}

.promotional ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

.menu_header {
    color: #808191;
    padding-bottom: 0 !important;
}

.menu_game__category li {
    cursor: pointer;
}

.menu_game__category li a {
    color: #808191 !important;
    font-weight: 600;
}

.menu_game__category li img {
    margin-right: 24px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #f8efef0a;
}

.join_us__section {
    margin: 20px;
    height: 366px;
    padding: 29px 6px;
    background-image: url(/assets/icons/joinUs.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.joinUs_top__cont {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.joinUs_bottom__cont {
    width: 100%;
    height: 65%;
}

.join_us_detail div {
    padding: 0px 20px;
    color: white;
}

.join_us_detail div h3 {
    font-size: 22px;
}

.join_us_detail div p {
    font-size: 10px;
}

.joinUs_top__cont img {
    width: 24px;
    border-radius: 50%;
    background-color: #132123;
    cursor: pointer;
}

.btnReg {
    width: 100%;
    height: 52px;
    border-radius: 20px;
    background-color: #35E275;
    color: #2C5F67;
    font-size: 16px;
    border: none;
    transition: all .3s ease-in-out;
    font-weight: 500;
}

.btnReg:hover {
    background-color: #2fc968;
}

.icon {
    color: #86868d;
    font-size: 24px;
    margin: 0 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2c2f3a;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 6px;
    left: 10px;
    bottom: 4px;
    background-color: #00ff66;
    transition: 0.4s;
    border-radius: 10px;
}


/* **************************slot Cards ************************* */

.slots-card {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    margin: 0px 5px;
}

.slots-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.slots-card .slots-name {
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    opacity: 0;
    z-index: 9;
    transition: opacity 0.5s;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slots-card .slots-name h5 {
    text-align: center;
    text-wrap: nowrap;
    font-weight: bold;
    color: white;
}

.slots-card .slots-name .thumbnail {
    cursor: pointer;
}

.slots-card:hover .slots-name {
    opacity: 1;
}

.slots-bg {
    transition: opacity 0.5s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}

.slots-card:hover .slots-bg {
    background-color: #3BFB82 !important;
    mix-blend-mode: multiply;
    opacity: 1;
    display: flex;
}


/* *********************** slots card ****************** */

input:checked+.slider {
    background-color: #f0f3f61c;
}

input:checked+.slider::before {
    left: 23px;
}

input:checked+.slider:before {
    transform: translateX(25px);
    background-color: #00ff66;
}

::-webkit-scrollbar {
    width: 6px
}

::-webkit-scrollbar-track {
    border-radius: 3px
}

::-webkit-scrollbar-thumb {
    background: rgba(93, 96, 114, .25);
    border-radius: 3px;
}


/* ************************ sidebar END ************************ */

section.main-carousels {
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 0 64px 64px 64px;
}


/* ************************* slick carousel BEGIN ********************** */

.carousel-container {
    position: relative;
    width: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 12px;
}

.custom-controls {
    position: absolute;
    top: 10px;
    right: 20px;
    gap: 10px;
}


/* .custom-controls button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
} */

.custom-controls button:hover {
    background-color: #0056b3;
}

.custom-control__right button {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #3BFB82;
    outline: none;
    border: none;
}

.custom-control__right button img {
    vertical-align: baseline;
}

.custom-control__right {
    gap: 8px;
}

.todoGames {
    width: 93px;
    height: 24px;
    border-radius: 4px;
    background-color: #ebfff305;
    color: #3BFB82;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-right: 8px;
}

.custom-controls_left {
    color: white;
}

.custom-controls_left img {
    margin-right: 8px;
}

.custom-controls_left p span {
    color: #3BFB82;
}


/* **************************** slick carousel END ******************************  */


/* Top Games Slick-Slider */

.carousel-container.top-games,
.carousel-container.recently-played,
.carousel-container.providers {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.carousel-container.top-games .custom-controls,
.carousel-container.recently-played .custom-controls,
.carousel-container.providers .custom-controls {
    position: static;
    padding: 0 16px;
}

/* *********************************** LOGIN REGISTER **************************  */
.login-box {
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.login-box form label,
#registerForm form label {
    display: block;
    text-align: left;
    margin-bottom: -7px;
    color: white;
}

.authmodalBody {
    background: linear-gradient(180deg, #5e3eaf, #3c2975);
    border-radius: 20px;
}

.auth_modal__content {
    background: transparent !important;
    border-radius: 20px !important;
}

.tab-buttons {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, .3);
    border-radius: 18px;
    padding: 6px 4px;
    margin-bottom: 22px;
}

.tab-buttons button {
    flex: 1;
    background: none;
    border: none;
    padding: 10px;
    color: #aaa;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
}

.tab-buttons .active {
    background: rgba(255, 255, 255, .2);
    color: white !important;
}

.login-box input,
#registerForm input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    outline: none;
}

.login-btn {
    width: 100%;
    height: 50px;
    line-height: 48px;
    float: left;
    border-radius: 6px;
    text-align: center;
    font-size: 15px;
    letter-spacing: -.25px;
    font-weight: 800;
    background: #3F3DFE;
    color: white;
    outline: none;
    border: none;
    text-transform: uppercase;
    transition: .3s all;
    cursor: pointer;
    transition: .3s all;
}

/* .login-btn:hover {
    background-color: #3c3aff;
} */
#registerBtn,
#loginBtn {
    height: 38px;
    line-height: 38px;
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 0 30px;
    text-align: center;
    cursor: pointer;
    transition: .3s all;
    font-size: 13px;
    letter-spacing: -.3px;
    font-weight: 700;
    color: white;
    background: initial;
    display: inline-block;
    margin: 0 2px;
}

#registerBtn.active,
#loginBtn.active { 
    background: rgba(255, 255, 255, .2);
}
#registerBtn:hover, #loginBtn:hover{
    background: rgba(255, 255, 255, .2);
}
.login_footer-text {
    margin-top: 15px;
    font-size: 14px;
    color: #aaa;
}

.login_footer-text a {
    color: #4e4bff;
    text-decoration: none;
}

.login_footer-text a:hover {
    text-decoration: underline;
}

/* footer */

footer {
    background-color: #1B2121;
    padding: 42px;
}

.footer-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-line {
    background-color: #EBFFF3;
    opacity: 0.1;
    width: 100%;
    height: 1px;
}

.footer-first {
    display: flex;
    justify-content: space-between;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-column ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style-type: none;
    padding: 0;
}

.footer-column h3 {
    font-size: 14px;
    font-weight: bold;
    color: #00ff66;
}

.footer-column ul li {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.social-icons li a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    color: #EBFFF3;
}

.copyright .footer-text {
    text-align: left;
}


/* სლოტის თამაში  */

.game-frame {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    padding: 0 20px 60px 20px;
    background-color: rgba(85, 85, 85, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.frame-controls {
    padding: 8px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.frame-controls button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.frame-controls .right-controls {
    display: flex;
    align-items: center;
    gap: 8px;
}

.frame-controls button svg {
    width: 24px;
    fill: #00ff66;
}

.frame-controls .right-controls .fullscreen svg {
    width: 20px;
}

.game-iframe {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    border: none;
}

@media (min-width: 1440px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1440px !important;
    }
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer-text p {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    section.slots .games-content .wrapper .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1360px) {
    section.slots .games-content .wrapper .cards {
        grid-template-columns: repeat(6, 1fr);
        gap: 10px 15px
    }
}

@media only screen and (min-width: 1540px) {
    section.slots .games-content .wrapper .cards {
        grid-template-columns: repeat(7, 1fr);
        gap: 10px 15px
    }
}